<!DOCTYPE html>
<html>
    <head>
        <title>Med App</title>
       
    </head>
    <body>
       
       <form class="" action="/meds/add" method="post">

            <input type="text" name="name" placeholder="medicine name">
            <input type="text" name="count" placeholder="count">
            <button>Add</button>

       </form>

    </body>
</html>