body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.4em;
}

#meds-table-container {
    border: 2px solid black;
    position: relative;
}

#meds-table-container > table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

td {
    font-size: 24px;
}

#med-name {
    font-weight: bolder;
}

button {
    border: 4px solid #4CAF50;
    border-radius: 4px;
    background-color: none;
    height: 50px;
    width: 100px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

#yel {
    border: 4px solid #E9D46E;
    transition: 0.5s;
}

#yel:hover {
    background-color: #E9D46E;
    
}

