.menuwrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menuwrap .checkbox {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.menuwrap .hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 1rem;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger line */
.menuwrap .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}

/* Lines */
.menuwrap .hamburger > div:before,
.menuwrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

/* move one down */
.menuwrap .hamburger > div:after {
    top: 10px;
}


/* Toggler animate */
.menuwrap .checkbox:checked + .hamburger > div {
    transform: rotate(135deg); 
}

/* Turn lines into X */
.menuwrap .checkbox:checked + .hamburger > div:before, 
.menuwrap .checkbox:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menuwrap .checkbox:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */
.menuwrap .checkbox:checked ~ .menu {
    visibility: visible;
}

.menuwrap .checkbox:checked ~ .menu > div {
    transform: scale(1);
}

.menuwrap .checkbox:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4 ease;
}

.menuwrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visiblity: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwrap .menu > div {
    background: var(--opaqueGreen);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform : scale(0);
    transition: all 0.5s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.menuwrap .menu > div > div > ul > li {
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    transform: translate(-10%);
}

.menuwrap .menu > div > div > ul > li > a {
     text-decoration: none;
     color: #fff;

}

