:root {
    --green : #009879;
    --blue : #2d5ff7;
    --red : #f56d58;
}

* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.inner {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    color: var(--green);
    height: 100vh;
    position: relative; 
}

.showcase:before {
    content: '';
    background: url('img/index-background.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;   
    opacity: 0.85;
}

.showcase .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5em;
}

.showcase h1 {
    font-size: 4.5rem;
}

.showcase p {
    font-size: 1.7rem;
    line-height: 1.2em;
}

.showcase .btn {

    
    width: 120px;
    margin-top: 20px;
    background-color: none;
    border: 4px solid var(--blue);
    border-radius: 4px;
    font-weight: bolder;
    padding: 5px;
    color: var(--blue);
    transition: 0.5s;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.showcase .btn:hover {
    background-color: var(--blue);
    color: white;
}